name: Sync Fork

on:
  schedule:
    - cron: '0 0 * * 1' # At 00:00 on Monday
  workflow_dispatch: # on button click

jobs:
  sync:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4.1.6
      - uses: tgymnich/fork-sync@v2.0.9
        with:
          base: main
          head: main
          token: ${{ secrets.PERSONAL_TOKEN }}
